/* * {
  background: linear-gradient(to bottom right, #B295E0, #F193D2, #FF99B3, #FFD270);
  background-attachment: fixed;
  color: white;
} */

/* .App {
  text-align: center;
} */

* {
  background: black;
  background-image: radial-gradient(circle at left,  #9d2951 10%, #431d71 25%, #321754 40%, black 70%);
  background-size: auto 700px;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
